@using System.ServiceModel.PeerResolvers
@model RunnersLog.Models.Reporting
@{
    ViewBag.Title = "Create";
}

<h2 class="custom">Filter Run stats by date</h2>


@using (Html.BeginForm("Create", "Reporting"))
{

    <div id="resultstotal"></div>

    <div class="form-group">
        <p class="custom">Start date</p>
        @Html.TextBox("startDate", null,  new { @class = "form-control datepicker" } )


    </div>


    <div class="form-group">
        <p class="custom">End date</p>
        @Html.TextBox("endDate", null, new { @class = "form-control datepicker" })
    </div>
    

    <hr />
    <div class="form-group">
        <div>
            <input type="submit" value="Filter" class="btn btn-primary" />
        </div>
    </div>



        <p class="custom"> Total Distance: @ViewBag.td</p>
        <p class="custom"> Total Calories: @ViewBag.tc</p>
        <hr />




        <script src="~/Scripts/jquery-1.10.2.js"></script>

        <input type="button" , id="calculateavgheart" value="Calculate average Heart rate" class="btn btn-primary" />
        <hr />
        <div id="avgheart">...</div>
        <script>
            $("#calculateavgheart").click(function () {

                if ($("#startDate").val() == "")
                    alert("Please enter a start date.");
                else if ($("endDate").val() == "")
                    alert("Please enter an end date.");

                $.ajax({
                    type: "POST",
                    url: "calculateavgheart",
                    data: { startDate: $("#startDate").val(), endDate: $("#endDate").val() },
                    beforeSend: function (xhr) {
                        xhr.overrideMimeType("text/plain; charset=x-user-defined");
                    }
                })
                    .done(function (data) {
                        $("#avgheart").html(data);
                    });
            });
        </script>
        <hr />




        
            <input type="button" , id="calculateavgpacebutton" value="Calculate average Pace" class="btn btn-primary" />
            <hr />
            <div id="avgpace">...</div>
       
    
    <script>
        $("#calculateavgpacebutton").click(function () {

            if ($("#startDate").val() == "")
                alert("Please enter a start date.");
            else if ($("endDate").val() == "")
                alert("Please enter an end date.");

            $.ajax({
                type: "POST",
                url: "calculateavgpace",
                data: { startDate: $("#startDate").val(), endDate: $("#endDate").val() },
                beforeSend: function (xhr) {
                    xhr.overrideMimeType("text/plain; charset=x-user-defined");
                }
            })
                .done(function (data) {
                    $("#avgpace").html(data);
                });
        });
    </script>






}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Styles.Render("~/Content/bootstrap-datepicker.css")
    @Scripts.Render("~/Scripts/bootstrap-datepicker.js")
    <script type="text/javascript">
        $(function () {
            $('.datepicker').datepicker({});
        });
    </script>
}